*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 30vh;
}

#logo{
    width: 6em;
}

.main-header{
    width: 100%;
    height: 50vh;
}

.main-form{
    width: 100%;
    height: 10vh;
}
