*{

    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(body-back.jpg);
    background-size: cover;  
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(nav-img.jpg) ;
    background-size: cover;
    margin-bottom: 0rem;
    box-shadow: 0 8px 32px 0 rgba(5, 5, 10, 0.9);
    z-index: 200;
}
.logo{
    font-family: 'Updock', cursive;
    font-weight: 1100;
    font-size: 50px;
    color: #ffffff;

text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0), 0 0 20px #e03ebd, 0 0 30px #e03ebd, 0 0 40px #e03ebd, 0 0 55px #e03ebd, 0 0 75px #e03ebd;
    
}
.logo-nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1.5rem;
}

.logo-responsive{
    display: none;
    width: 76px;
    margin-bottom: 0;
    margin: auto;
}

.menu{
    display: none;
    
}

.navigation ul{
    margin: 0; 
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
    
    border-radius: 10px;
}
.navigation ul li a{
    
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    transition: all 0.3s linear;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;   
}
.navigation ul li a:hover{
    background:rgba(252, 69, 233, 0.5); 
}

.icons-social-networks{
    margin-left: 10px;
    
    position:fixed;
    top: 13%;
    left: 91%;   
}
.icons-social-networks a{
    display: inline-block;
}

.icons-social-networks a img{

    transition: all 0.2s linear;
    width: 25px;
}

.icons-social-networks a img:hover{
        
    width: 28px;
}

.back{
    background-image: url(back1.png);
    background-size: cover ;
    height: 65vh;
    width: 90%;
    max-width: 850px;
    margin: 7rem auto;
    box-shadow: 0 8px 32px 0 rgba(5, 5, 10, 0.37);
    border-radius: 10px;
}
.main-container {

    height: 60vh;

 }
    
.main-container .titulos{
    width: 0%;
    height: 0%;
    position: relative;
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 100;
    
}

.main-container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.main-container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
     font-size: 25px;
}


#lectura{
    height: 60vh auto;   
}

#lectura .cards-main{
    background-image: url(nav-img.jpg) ;
    background-size:cover ;
    margin: auto 1.5rem;
    background-color: #fff;
    border-radius: 5px;

   
}

.cards-main h1{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0), 0 0 20px #e03ebd, 0 0 30px #e03ebd, 0 0 40px #e03ebd, 0 0 55px #e03ebd, 0 0 75px #e03ebd;
    font-family: 'Updock', cursive;
    font-size: 100px;
    padding: 4rem;
    text-align: center;
    
}

.card-container{
    
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
    
    
}

.card-container .box-1{
    
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    
}
.card-container .box-2{
    
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    
}
.card-container .box-3{
    
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    
}

.card-container  h2{
    
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0), 0 0 20px #e03ebd, 0 0 30px #e03ebd, 0 0 40px #e03ebd, 0 0 55px #e03ebd, 0 0 75px #e03ebd;
    font-family: 'Updock', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.card-container h3{
    font-family: 'Updock', cursive;;
    color: #5a097a;
    font-size: 70px;
    margin-top: px;
    text-align: center;
}

.card-container .card-p1{
    margin: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.card-container .card-p2{
    margin: 20px;
    text-align:center;
    font-size: 20px;
    font-weight: 900;
}

b{
    padding: 0px 5px;
}

.card-a{
    border-radius: 5px;
    padding: 10px;   
    color: #ffffff;
    
    margin: 20px 70px 20px 70px;
    display: flex;
    justify-content: center;
    background-image: url(nav-img.jpg) ;
    background-size:cover ; 
    transition: all 0.5 0.2s;
    font-weight: 900;
}

.card-a:hover{
    
    background: linear-gradient(221deg, rgba(202,38,255,1) 0%, rgba(255,243,176,1) 100%);
    font-weight: 900;
    color: #000000;
    
}















@media only screen and (max-width:890px){

    .card-container{
        flex-wrap: wrap;
    }

    .cards-main h1{
        font-size: 50px;
        padding: 32px;
        
    }
    
    .logo-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        flex-wrap: wrap;
    }
    
    .navigation{
        margin-top:1.2rem ;
        
        width: 100%;
       
        text-align: center;
    }
    
    .navigation ul{
        display: none;
        margin-bottom: rem;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation ul li{
        display: block;
            
        border-radius: 10px;
    }
    
    .navigation ul li a{
                
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    transition: all 0.3s linear;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 900;   
    }
    .icons-social-networks{
        display: none;
    }

    .back{
        margin: 10rem auto;
        
    }

     .logo{
         display: none;
    }
    .logo-responsive{
        display: block;
        position: relative;
        left: 35px;
    }
    .menu{
        padding: 0.5rem 1rem;
        display: block;
        width: 36px;
        cursor: pointer;
    }
}
